
  
  <style>
    .gps-477156605566124971 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-477156605566124971 .relative{position:relative}.gps-477156605566124971 .mx-auto{margin-left:auto;margin-right:auto}.gps-477156605566124971 .mb-0{margin-bottom:0}.gps-477156605566124971 .flex{display:flex}.gps-477156605566124971 .grid{display:grid}.gps-477156605566124971 .max-w-full{max-width:100%}.gps-477156605566124971 .flex-col{flex-direction:column}.gps-477156605566124971 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-477156605566124971 .duration-200{transition-duration:.2s}.gps-477156605566124971 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-477156605566124971 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="g9-7zke8bo"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9-7zke8bo mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gUm8N4zCMQ relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gJ6m6SnhRm"
        style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word"
      >
      <p><span style="font-size:13.0pt;"><u>Tools Required</u></span></p><ul><li><span style="font-size:13.0pt;"><i>Address + threaded rods (included)</i></span></li><li><span style="font-size:13.0pt;"><i>Installation template (included)</i></span></li><li><span style="font-size:13.0pt;"><i>Hammer Drill (for brick and masonry) or regular drill</i></span></li><li><span style="font-size:13.0pt;"><i>1/4” drill bit</i></span></li><li><span style="font-size:13.0pt;"><i>Ladder</i></span></li><li><span style="font-size:13.0pt;"><i>Tape Measure</i></span></li><li><span style="font-size:13.0pt;"><i>Heavy Duty Tape (Preferably Duct tape)</i></span></li><li><span style="font-size:13.0pt;"><i>Silicone or Construction adhesive</i></span></li><li><span style="font-size:13.0pt;"><i>Safety Goggles</i></span></li><li><span style="font-size:13.0pt;"><i>Hearing Protection</i></span></li></ul><p>&nbsp;</p><p><span style="font-size:13.0pt;"><strong>Step 1:&nbsp;</strong>Prepare all tools and measure the area of installation. Mark the center of the area with a vertical strip of tape.&nbsp;</span></p><p><span style="font-size:13.0pt;"><strong>Step 2:&nbsp;</strong>Place the template on the wall. The vertical line on the template is the center of the address.&nbsp;</span></p><p><span style="font-size:13.0pt;"><strong>Step 3:</strong> Measure, level the address on both sides. The horizontal line on the template can be used as a leveling guide. Secure the template with a heavy duty tape.</span></p><p><span style="font-size:13.0pt;"><strong>Step 4:&nbsp;</strong>Double check level, and drill all holes with a 1/4” bit (Ensure the holes are drilled as straight as possible)&nbsp;</span><br><span style="font-size:13.0pt;"><strong>Step 5:&nbsp;</strong>Remove installation template (Dot recycle the template yet) and remaining tape from the wall. Use caution when removing the tape if applied to delicate areas such as paint or stucco.</span></p><p><span style="font-size:13.0pt;"><strong>Step 6:&nbsp;</strong>Using the provided studs, use your hand to thread the pins into the back of the letters until tight.&nbsp;</span></p><p><span style="font-size:13.0pt;"><strong>Step 7:&nbsp;</strong>Match the address to their corresponding holes. Do not force the address in as this may damage the product. If the address has difficulty going in, remove the address and redrill the hole. Push the sign in to the holes (without any adhesive) to make sure everything fits right.</span></p><p><span style="font-size:13.0pt;"><strong>Step 8:&nbsp;</strong>After dry fitting the letters, apply construction adhesive or silicone into the drilled holes and put the letters back in.</span></p><p><span style="font-size:13.0pt;"><strong>Step 9:&nbsp;</strong>Remove the vinyl protective layer on address with your finger nails (This may not come off very easily as it is there to protect the sign)</span></p><p><span style="font-size:13.0pt;"><strong>Step 10</strong>: Finished!</span></p>
      </div>
    </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gBZPcpwzlq",
    "tag": "section",
    "class": "gps-477156605566124971 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=477156605566124971)"
      }
    ],
    "blocks": []
  }
{% endschema %}
