
  
  <style>
    .gps-477156605566125119 .relative{position:relative}.gps-477156605566125119 .mx-auto{margin-left:auto;margin-right:auto}.gps-477156605566125119 .mb-0{margin-bottom:0}.gps-477156605566125119 .flex{display:flex}.gps-477156605566125119 .grid{display:grid}.gps-477156605566125119 .max-w-full{max-width:100%}.gps-477156605566125119 .flex-col{flex-direction:column}.gps-477156605566125119 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-477156605566125119 .duration-200{transition-duration:.2s}.gps-477156605566125119 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-477156605566125119 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gJY4P0365U"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJY4P0365U mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gdIJNrPQEA relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gvmhXTQOZK"
        style="--mt:10px;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="gp-text"
        style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Assistant, Assistant);--ls:0.72px;--lh:140%;--size:28px;--size-tablet:17px;--size-mobile:16px;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word"
      >
      <p>Installation Instructions</p>
      </div>
    </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gfI5nt9Hy5",
    "tag": "section",
    "class": "gps-477156605566125119 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=477156605566125119)"
      }
    ],
    "blocks": []
  }
{% endschema %}
