/* theme copy */
/* For Webkit browsers */
body::-webkit-scrollbar {
  width: 8px; /* Width */
}

body::-webkit-scrollbar-thumb {
  background: lightgrey; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
}

body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px;
}

/* For Firefox */
body {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: lightgrey #f1f1f1; /* Thumb and Track color */
}

#my-element {
  width: 200px;
  height: 200px;
  background-color: red;
}
.design-container {
  padding: 20px 20px 10px;
  height: 92%;
}
#csp-background-img {
  display: block !important;
  width: 100%;
  height: 100%;
  background-size: 600px;
}

/*********************************ROMEO'S WORK**********************************/
.csp-design-ruler {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 25px;
  left: 50%;
  transform: translate(-24px, 0);
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.csp-design-ruler-btn {
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 3px solid #353eac;
  border-radius: 100%;
  transition: 0.3s;
  cursor: pointer;
}
.csp-design-ruler-btn:hover {
  color: white;
  background-color: #a5aeff;
}
.csp-design-static-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 15px;
  right: 20px;
  font-family: roboto-bold, roboto, sans-serif;
  font-weight: bold;
  color: black;
}
.csp-design-static-currency {
  font-size: 64px;
  line-height: normal !important;
}
.csp-design-static-size {
  z-index: 1;
  font-size: 32px;
  line-height: 0.5 !important;
}
.measure-width-cont {
  width: 100%;
}
.design-box-text-shadow {
  text-shadow: #ffffff -1px -1px 0px, #ffffff -1px 1px 0px, #ffffff 1px 1px 0px,
    #ffffff 1px -1px 0px;
}
/*******************************************************************************/
.csp-color-selection-box {
  padding-top: 15px;
}
.csp-color-selection-box p,
.csp-size-selection-box p {
  font-size: 14px;
  width: 100%;
  color: rgb(128, 128, 128);
}
.csp-size-selection-box {
  padding-top: 10px;
}
.address-text-form {
  width: 100%;
}
.csp-text-input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.csp-custom-h3 {
  font-family: "fantasy", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #353eac;
  margin: 10px 0;
  width: 100%;
}
.csp-form-label {
  margin-right: 10px;
  font-size: 19px;
  padding: 2px 10px;
  color: #fff;
  background-color: #353eac;
}
.csp-font-styling-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#csp-font-option {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 0;
  background-color: #353eac;
  color: #68ffa8;
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px;
  cursor: pointer;
  text-align: left;
  padding-left: 5px;
}
.csp-text-align-cont {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: 10px;
}
.csp-text-input-box p {
  font-size: 14px;
  width: 100%;
  color: rgb(128, 128, 128);
}
.csp-text-align-box {
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 2px solid #353eac;
  border-radius: 10px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.csp-text-align-box svg {
  width: 25px;
  height: 25px;
}
.csp-text-input-box textarea {
  font-size: 15px;
  padding: 10px;
  height: 80px;
  width: 100%;
  border: 2px solid #353eac;
  border-radius: 10px;
}
.csp-text-input-box textarea::placeholder {
  color: lightgray;
}
.csp-inner-cont {
  max-width: 2560px;
  margin: 0 auto;
  display: flex;
  height: calc(100vh - 74.6px);
  overflow: hidden;
}
.design-box {
  position: relative;
  width: 75%;
  height: 100%;
}
.csp-background-swatch-cont {
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translate(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px;
}
.csp-swatch-box {
  border: 4px solid white;
  border-radius: 17px;
  width: 80px;
  height: 80px;
  transition: all 200ms ease-out;
  cursor: pointer;
  box-shadow: 3px 3px 10px 1px #000;
}
.csp-swatch-box:hover {
  transform: scale(1.05);
  transition: all 150ms ease-in;
}
.csp-swatch-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.design-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.csp-right-column {
  overflow-y: scroll;
  width: 25%;
  /* max-width: 400px; */
  min-width: 300px;
  position: relative;
  scrollbar-width: none; /* Firefox */
}
.csp-right-column::-webkit-scrollbar {
  /* Chrome, Safari, Edge */
  display: none;
}

.measure-height-cont {
  position: absolute;
  top: 0px;
  right: 101%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.height-hr-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.height-hr {
  border: 2px solid black;
  height: 100%;
}
.height-measure-end {
  width: 20px;
  border: 2px solid black;
  margin: 5px;
}
.measurement-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 48%;
  left: 52%;
  transform: translate(-50%, -50%);
}
.height-text-box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.hr-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.measurement-endings {
  border: 2px solid black;
  margin: 10px 5px;
  height: 25px;
}
#sign-text-overlay {
  width: max-content;
  color: black;
  font-size: 8.5vw;
  overflow-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-shadow: #fff 2px 1px 0;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -2px;
  white-space: pre;
}
#csp-measure-hr {
  width: 100%;
  height: 2.5px;
  margin: 0 auto;
  background-color: black;
}
.count-display-box {
  position: relative;
  display: flex;
  justify-content: center;
}
#countDisplay {
  margin: 10px 0 0 0;
}
.mearsurement-numbers {
  font-size: 3vw;
  line-height: 15px;
  font-weight: 600;
  color: #000;
  font-size: 30px;
}
.font-selector-cont {
  width: 50%;
  position: relative;
}
.icon-carat-box {
  position: absolute;
  top: 2px;
  right: 10px;
  pointer-events: none;
  transition: all 100ms ease;
}
.csp-grid-dropdown {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}
.csp-font-grid {
  overflow: hidden;
  padding: 15px 1px 1px 1px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 6px;
}
.csp-font-item {
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  height: 40px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: all 250ms ease-out;
}
.csp-font-item:hover {
  box-shadow: 0px 0px 1px 0.5px #000;
  transition: all 100ms ease-in;
}
input.prevent-highlight {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.csp-color-btns {
  width: 50%;
}
.csp-color-btns label {
  display: flex !important;
  align-items: center;
  height: 50px;
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 7px !important;
}
.csp-color-btns label:nth-child(2),
.csp-variant-btns label:nth-child(2) {
  margin-right: 10px !important;
}
.csp-color-btns input[type="radio"]:checked + label,
.csp-variant-btns input[type="radio"]:checked + label {
  background-color: #353eac !important;
  color: #68ffa8;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.csp-color-btns input[type="radio"]:not(:checked) + label {
  color: #353eac;
  background-color: white;
  font-weight: 600;
}
.cust-var-input {
  flex-wrap: nowrap !important;
  justify-content: unset !important;
}
.black-variant {
  background-color: black;
  display: block;
  width: 30%;
  height: 30px;
  border-radius: 7px;
  margin: 10px;
  font-weight: bold;
}
.white-variant {
  background-color: white;
  border: 1px solid black;
  display: block;
  width: 30%;
  height: 30px;
  border-radius: 7px;
  margin: 10px;
  font-weight: bold;
}
.csp-variant-btns {
  width: 50%;
}
.csp-variant-btns label {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 7px !important;
}
.csp-cta-btn {
  width: 102%;
  height: 80px;
  background-color: #353eac;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 3px;
  cursor: pointer;
  transform: translate(-2px, 2px);
}
.csp-cta-btn:hover {
  color: #68ffa8;
}
.csp-value-box {
  display: flex;
  flex-direction: column;
}
.csp-value-box span {
  margin-top: 5px;
  font-size: 10px;
  font-weight: 600;
}
.cust-btn {
  width: 100%;
  margin: 0 auto;
}
#csp-ruler-btn svg {
  transform: translate(0, 2px);
}
@media screen and (max-width: 990px) {
  .design-container {
    padding-bottom: 100px;
  }
  .measurement-text-box {
    left: 50%;
  }
  #sign-text-overlay {
    text-shadow: 1px 1px 0 #fff;
    -webkit-text-shadow: 1px 1px 0 #fff; /* For Safari and Chrome */
    -moz-text-shadow: 1px 1px 0 #fff; /* For Firefox */
    -ms-text-shadow: 1px 1px 0 #fff; /* For IE */
    -o-text-shadow: 1px 1px 0 #fff; /* For Opera */
  }
}

/*********************ALERT*********************/
.alert {
  display: none;
  padding: 15px;
  background-color: #f44336;
  color: white;
  letter-spacing: 1px;
}
.alert-closebtn {
  color: white;
  font-weight: bold;
  float: right;
  font-size: 28px;
  line-height: 28px;
  cursor: pointer;
  transition: 0.3s;
}
.alert-closebtn:hover {
  color: black;
}

/*********************CART PRE NOTIFICATION*********************/
.cart-pre-notification {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.cart-pre-notification-content {
  position: relative;
  background-color: #fff;
  width: 720px;
  padding: 20px;
  margin: 100px auto;
  text-align: center;
}
.cart-pre-btn-wrapper {
  display: flex;
  justify-content: center;
}
.cart-pre-notification-btn {
  width: 210px;
  height: 55px;
  border-radius: 10px;
  background-color: #353eac;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 3px;
  cursor: pointer;
  margin: 0px 5px;
}
.cart-pre-title {
  margin: 10px 0 20px;
}

.cart-pre-variant {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.cart-pre-variant-item {
  display: flex;
  justify-content: space-between;
  width: 50%;
  text-align: left;
  padding: 0px 20px 12px;
}
.cart-pre-address-item {
  width: 60%;
  text-align: left;
  padding: 0px 20px;
}
#current-address {
  white-space: pre-line;
  line-break: anywhere;
}
.cart-pre-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-pre-price {
  position: absolute;
  right: 0;
  font-size: 30px;
}
.cart-pre-upper-body {
  display: flex;
  align-items: center;
}
.cart-pre-img-container {
  position: relative;
  width: 40%;
}
#cart-prev-design-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
  line-height: normal;
  overflow-wrap: break-word;
  white-space: pre;
}
#cart-pre-img {
  width: 100%;
  height: 100%;
  padding: 10px 10px 0px;
}
.cart-pre-closeBtn {
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  justify-content: flex-end;
  z-index: 5;
}
.cart-pre-closeBtn > .mod-x-char {
  font-weight: 500;
  line-height: 28px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cart-pre-closeBtn svg {
  width: 20px;
  height: 20px;
  fill: #353eac;
}
#cart-pre-comment {
  margin-bottom: 10px;
  font-size: 20px;
}

@media screen and (max-width: 778px) {
  .cart-pre-closeBtn {
    position: absolute;
    right: 15px;
    top: 15px;
    display: flex;
    justify-content: flex-end;
  }
  .cart-pre-title {
    margin: 10px 0 0px;
  }
  .cart-pre-price {
    position: relative;
    margin-bottom: 15px;
  }
  .cart-pre-header {
    flex-direction: column;
  }
  .cart-pre-variant-item {
    width: 100%;
    padding: 0px 20px 0;
  }
  .cart-pre-notification-content {
    position: relative;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    transform: translate(0, -50px);
  }
  .cart-pre-notification-btn {
    font-size: 14px;
    letter-spacing: 1px;
    max-width: 135px;
  }
  #cart-pre-comment {
    margin-bottom: 5px;
    font-size: 16px;
  }
}

@media screen and (max-width: 990px) {
  .csp-inner-cont {
    flex-direction: column;
    height: auto;
    overflow: visible;
  }
  .design-box {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 55vh;
  }
  .csp-right-column {
    width: 100%;
  }
  .csp-swatch-box {
    width: 20%;
    height: 100%;
    border-radius: 100%;
    margin: 0 5px;
  }
  .csp-swatch-img {
    border-radius: 100%;
  }
  .csp-background-swatch-cont {
    width: 85vw;
    height: 11vw;
    min-height: 60px;
    max-height: 65px;
    max-width: 500px;
  }
  #csp-design-static-size {
    display: none;
  }
  .csp-design-static-currency {
    font-size: 32px;
  }
  .measure-height-cont {
    display: none;
  }
}
